.markdown-preview p {
  margin-bottom: 1em;
}

.markdown-preview h1 {
  font-size: 2em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.markdown-preview h2 {
  font-size: 1.75em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.markdown-preview h3 {
  font-size: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.markdown-preview h4 {
  font-size: 1.25em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.markdown-preview h5 {
  font-size: 1em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.markdown-preview h6 {
  font-size: 0.875em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}

.markdown-preview ul,
.markdown-preview ol {
  margin-bottom: 1em;
  padding-left: 1.5em;
}

.markdown-preview blockquote {
  margin: 1em 0;
  padding-left: 1em;
  border-left: 4px solid #ccc;
}
